@model IEnumerable<MVCUI.ViewModels.Account.UserViewModel>
@using System.Web.Mvc.Ajax
@using MVCUI.Helpers

<div id="content">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Role)
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Name, "UserFiles", "File", new { name = item.Name }, new { @class = "w3-text-cyan" })
                    </td>
                    <td>
                        @Html.DisplayTextFor(modelItem => item.Role.Name)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>