body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn-custom {
    margin: 2px 7% 2px 7%;
}

.btn {
    margin-top: 2px;
}

.btn-file {
    margin: 0 0 7px 0;
}

.form-group {
    padding-left: 15px
}

.active a, .not-active a:hover {
    color:#fff!important;
    background-color: #000 !important;
}

#dropZone {    
    color: #555;
    font-size: 18px;
    text-align: center;    
    
    width: 400px;
    padding: 50px 0;
    margin:20px 0 20px 0;
    
    background: #eee;
    border: 1px solid #ccc;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#dropZone.hover {
    background: #ddd;
    border-color: #aaa;
}

#dropZone.error {
    background: #faa;
    border-color: #f00;
}

#dropZone.drop {
    background: #7FFFD4;
    border-color: #00FFFF;
}

.display-name {
    width: 150px;
}

.display-description {
    width: 175px;
}

.description {
    margin-bottom: 7px;
}

.file-upload {
    position: relative;
    overflow: hidden;
    width: 92px;
    height: 40px;
    padding: 8px 4px;
    text-align: center;
    margin-bottom: 5px
}
.file-upload input[type="file"]{
    display: none;
}

.file-upload label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.file-upload span {
    line-height: 36px;
    font-weight: normal;
}