@model MVCUI.ViewModels.IndexViewModel
@using MVCUI.Helpers

@{
    ViewBag.Title = "Files";
}

<div id="allFiles">
    <h2>All files</h2>
    @Html.Partial("_FileTable", Model.Files)

    <div class="btn-group content-pager">
        @Html.PageLinks(Model.PageInfo, x => Ajax.ActionLink(x.ToString(), "All", "File", new { page = x }, new AjaxOptions { UpdateTargetId = "allFiles" }).ToString())
    </div>
</div>
@section Scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}