@model MVCUI.ViewModels.IndexViewModel
@using MVCUI.Helpers

@{
    ViewBag.Title = ViewBag.Name;
}

<div id="allFiles">
    <h2>Files of @ViewBag.Name</h2>
    @Html.Partial("_FileTable", Model.Files)

    <div class="btn-group content-pager">
        @Html.PageLinks(Model.PageInfo, x => Ajax.ActionLink(x.ToString(), "UserFiles", "File", new {name = ViewBag.Name, page = x}, new AjaxOptions {UpdateTargetId = "allFiles"}).ToString())
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}